!*.yaml
!*.yml
!*.fake*
!*.sh
!*.dash
!.gitignore
!esphome/*.yaml

*gmail*
ip_bans.yaml
.gmusic_authtoken
.ps4-games.json
.shopping_list.json
.sonoff.json
secrets.yaml
known_devices.yaml
appdaemon.yaml
google54d9d9f0104cb9cd.html
.HA_VERSION
.cloud
.storage
.vscode
.Trash-0
*.uuid
*.db*
*.log
*.conf
*.cloud
*.save
*.pyc
*.cookies
*.delete
*.code-workspace
appdaemon/custom_widgets
appdaemon/compiled
www/community
www/custom-lovelace
www/images/home
www/floorplan
www/lovelace-flower-card/data/Images
www/records

__*
custom_components
esphome/*/
deps
notebooks
node-red
themes
tts
