!*.yaml
!*.yml
!*.fake*
!*.sh
!*.dash

!sensors
!bash
!conf
!conf/*
!themes
!groups
!scripts
!sensors
!automations
!notify

!.gitignore

secrets.yaml
known_devices.yaml
.HA_VERSION
*.uuid
*.db
*.log
*.conf
*.cloud
*.save

conf/compiled
conf/export
deps
tts
www